body,ul,ol,h3,h4,h5{margin:0;padding: 0;font-family: "微软雅黑";font-size: 15px;}
li{list-style: none;}
a{text-decoration: none;color: black;}

body{background: #fafafa;}
.all{width:1226px;margin: 0 auto;}
.clear{zoom:1;}
.clear:after{content:'';display: block;clear:both;}

/* topbar*/
#top_bar{background: url(../img/top_bar_bg.gif) no-repeat;height: 27px;width:100%;
				color:#999;line-height: 27px;position: relative;z-index:100;}
#top_bar span{float: left;line-height: 27px;}

.top_bar_right{float:right;height: 27px;}
.top_bar_right li{float: left;position: relative;}
.top_bar_right a{color:#0083bd;display: block;padding: 0 10px ;border-right:2px solid #a4bfd6;}
.top_bar_right a:hover{background: orange;}
.top_bar_right .noBorder{border-right:0;}
.top_bar_right #person_menu{position: absolute;background:ghostwhite;display: none;}
.top_bar_right #person_menu li{float: none;}
.top_bar_right  #person_menu li a{width:100px;height: 50px;border:none;line-height: 50px;}


/*header*/
/*meun*/
.header{width:100%;line-height: 75px;margin:10px auto;}
.header #headerMenu{position: relative;}
.header .header_Menu_Li{float: left;width:200px;height:75px ;font-size:18px;text-align:center;position: relative;z-index: auto;}
.header .header_Menu_Li a{height: 75px;width:200px;display: block;}
.header  #headerBg{height: 75px;width:200px;display: block;background-color:orange;
						position: absolute;top:0;left:0;z-index:-1;}
.header_child_menu{background:ghostwhite;top:40px;position:absolute;z-index:1;display: none;}
.header_child_menu li{display: block;width:200px;height: 40px;line-height: 40px;border-bottom:1px solid #a4bfd6;}
.header_child_menu li a:hover{color:orange;}

/*img*/
.header .header_img {position: relative;height: 400px;overflow: hidden;width:1226px;margin:20px  auto;}
.header .header_img ol{position: absolute;bottom:20px;left:50%;z-index:20;margin-left: -45px;}
.header .header_img ol li{float: left;}
.header .header_img ol li a{display: block;width:20px;height: 20px;border:1px solid;opacity: 0.5;filter:alpha(opacity:50);
												border-radius:50%;margin-right:6px;background:#B7B7B7;
												}
/*.header #headerMenuClick a:hover{background: orange;}*/
.header #headerMenuClick .active{background: orange;}
/*.header .header_img ol li a	:hover{background:#f40;}	*/		
.header .header_img ul{position: absolute;left:0;}
.header .header_img ul li{position: absolute;overflow: hidden;}
.header .header_img img{border:none;width:1226px;height: 400px;}



/*content*/
/*content cop news*/
.content{width:100%}
.content a:hover{text-decoration:underline;color:orange;}
.content .content_copnews{width:1226px;margin: 0 auto;column-count:2;margin-top:10px}

.content .content_copnews .title{display: block;height: 40px;line-height: 40px;font-size:20px;font-weight: bold;
												background: url(../img/content_menu_title.gif) no-repeat;padding-left: 5px;}
.content .content_new_warp ul{border:1px solid #dde1e5;min-height: 200px;padding: 10px;margin-top: 5px;}
.content .content_new_warp ul li{height: 30px;line-height: 30px;background: url(../img/content_li_bg.gif) no-repeat 2px;padding-left: 18px;}
.content .content_new_warp ul li:nth-child(odd){background-color:#EDEDED;}
/*.content .content_new_warp ul li:nth-child(even){background:#fff;}*/

/*content hottopic*/
.content .content_hottopic{width:1226px;margin: 0 auto;margin-top: 10px;}
.content .content_hottopic .title{display: block;height: 40px;line-height: 40px;font-size:20px;font-weight: bold;
												background: url(../img/content_menu_title.gif);padding-left: 5px;}
.content .content_hottopic div{padding: 5px;}
.content .content_hottopic h3,h5{margin-top: 3px;}
.content .content_hottopic img{margin-top: 5px;}
.content .content_hottopic p {text-indent: 2em;}

/*footer*/
.footer{background: #f8f7e5;height: 300px;}
.footer .footer_container{width:1226px;margin: 0 auto; column-count: 4;-webkit-column-count:4;-moz-column-count:4;}
.footer .footer_container div{padding:20px 0 0 50px;}
.footer .footer_container  span{font-size:26px}
.footer ul{text-align: left;height: 300px;margin: 10px 0 0 10px;}
.footer ul li{font-size:16px;height: 26px;}
.footer ul li a:hover{color:orange}

/*slide_bar*/
.slide_bar{position: fixed;top:130px;background-color: #fff;}
.slide_bar span{display: block;width:110px;height: 56px;padding-left:14px;padding-top:22px;font-size:18px;font-weight: bold;
						background: url(../img/slide_bar_title.gif) no-repeat;color:#797983;}
.slide_bar ul li{border-bottom:1px solid #e6e6e6;font-size:12px}
.slide_bar ul li a{display: block;;height: 30px;line-height: 30px;
					 background: url(../img/slide_bar_menu.gif) no-repeat -4px 2px;padding-left: 20px;}
.slide_bar ul li a:hover{color:orange;}



       .dialog a{text-decoration: none;color:black;}
        .dialog{position: fixed;border:1px solid #CDC0B0;border-radius:10px;background:#FAFAFA;z-index:50;overflow: auto;}
        .dialog .dialog_title{
            width:100%;height: 40px;position: absolute;line-height: 40px;
            background: #EEDC82;border-radius:5px 5px 0 0;
        }
        .dialog_title .close{
            display: block;height: 40px;width:40px;
            float: right;text-align: right;line-height: 40px;
            background: url('../img/dialog_close.png') no-repeat right;
        }

        .dialog .content{width:100%;color:black;position: absolute;top:40px; }
        .dialog_bg{width:100%;height: 100%;background: rgba(0,0,0,0.4);position: absolute;top:0;z-index:10;}




